#slider-b H2 {
  color: #da3e3a;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#menu-c .navbar-toggler {
  color: #000;
}
#menu-d .navbar-toggler {
  color: #000;
}
#menu-e .navbar-toggler {
  color: #000;
}
#menu-f .navbar-toggler {
  color: #000;
}
#content1-q DIV {
  text-align: center;
}
